
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="assets/images/favicon_1.ico">

    <title>서치스페이스 - 비밀번호 초기화</title>

    <link href="${rc.contextPath}/static/console/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="${rc.contextPath}/static/console/css/core.css" rel="stylesheet" type="text/css" />
    <link href="${rc.contextPath}/static/console/css/components.css" rel="stylesheet" type="text/css" />
    <link href="${rc.contextPath}/static/console/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="${rc.contextPath}/static/console/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="${rc.contextPath}/static/console/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="${rc.contextPath}/static/console/plugins/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="${rc.contextPath}/static/console/js/modernizr.min.js"></script>

</head>
<body>

<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">
        <div class="panel-heading">
            <h3 class="text-center">비밀번호 초기화</h3>
        </div>

        <div class="panel-body">
            <form method="post" action="/account/password_reset/process" role="form" class="text-center" id="passwordResetForm">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        ×
                    </button>
                    회원가입시 아이디로 등록한 <b>이메일</b> 주소를 입력해 주세요.
                </div>
                <div class="form-group m-b-0">
                    <div class="input-group">
                        <input type="email" class="form-control" id="userId" name="userId" placeholder="이메일 주소를 입력해 주세요." required="">
                        <span class="input-group-btn">
									<button type="submit" class="btn btn-pink w-sm waves-effect waves-light">
										보내기
									</button>
								</span>
                    </div>
                </div>

            </form>
        </div>
    </div>


</div>

<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="${rc.contextPath}/static/console/js/jquery.min.js"></script>
<script src="${rc.contextPath}/static/console/js/bootstrap.min.js"></script>
<script src="${rc.contextPath}/static/console/js/detect.js"></script>
<script src="${rc.contextPath}/static/console/js/fastclick.js"></script>
<script src="${rc.contextPath}/static/console/js/jquery.slimscroll.js"></script>
<script src="${rc.contextPath}/static/console/js/jquery.blockUI.js"></script>
<script src="${rc.contextPath}/static/console/js/waves.js"></script>
<script src="${rc.contextPath}/static/console/js/wow.min.js"></script>
<script src="${rc.contextPath}/static/console/js/jquery.nicescroll.js"></script>
<script src="${rc.contextPath}/static/console/js/jquery.scrollTo.min.js"></script>


<script src="${rc.contextPath}/static/console/js/jquery.core.js"></script>
<script src="${rc.contextPath}/static/console/js/jquery.app.js"></script>

<script src="${rc.contextPath}/static/console/plugins/bootstrap-sweetalert/sweet-alert.min.js"></script>
<script src="${rc.contextPath}/static/console/plugins/jquery-validation/js/jquery.validate.min.js"></script>

<script type="text/javascript">
    $(function() {
        $("#passwordResetForm").validate({
            ignore: 'input[type=hidden], .select2-input', // ignore hidden fields
            errorClass: 'error',
            successClass: 'validation-valid-label',
            highlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass(errorClass);
            },
            submitHandler: function(form) {
                $.ajax({
                    type: "POST",
                    url: $(form).attr('action'),
                    data: $(form).serialize(),
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function (data) {
                        if (data.success == "true") {
                            swal({
                                        title: "비밀번호 초기화 메일 발송 성공",
                                        text: "비밀번호를 다시 설정하실 수 있는 이메일을 발송하였습니다.",
                                        confirmButtonColor: "#66BB6A",
                                        type: "success"
                                    },
                                    function(){
                                        window.location.href = '/account/login';
                                    });
                        } else if (data.success == "false"){
                            swal({
                                title: "존재하지 않는 아이디입니다.",
                                text: "아이디(이메일)을 다시 한번 확인해 주십시요.",
                                confirmButtonColor: "#2196F3",
                                type: "info"
                            });
                        } else if (data.success == "error") {
                            swal({
                                title: "시스템에 문제가 발생하였습니다.",
                                text: "이 에러는 관리자에게 보고 되었습니다.",
                                confirmButtonColor: "#EF5350",
                                type: "error"
                            });
                        }
                    }, error: function (jqXHR, textStatus, errorThrown) {
                        swal({
                            title: jqXHR,
                            text: textStatus+' '+errorThrown,
                            confirmButtonColor: "#EF5350",
                            type: "error"
                        });
                    }
                });
            },
            // Different components require proper error label placement
            errorPlacement: function (error, element) {
                // Styled checkboxes, radios, bootstrap switch
                if (element.parents('div').hasClass("checker") || element.parents('div').hasClass("choice") || element.parent().hasClass('bootstrap-switch-container')) {
                    if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                        error.appendTo(element.parent().parent().parent().parent());
                    }
                    else {
                        error.appendTo(element.parent().parent().parent().parent().parent());
                    }
                }

                // Unstyled checkboxes, radios
                else if (element.parents('div').hasClass('checkbox') || element.parents('div').hasClass('radio')) {
                    error.appendTo(element.parent().parent().parent());
                }

                // Input with icons
                else if (element.parents('div').hasClass('has-feedback')) {
                    error.appendTo(element.parent());
                }

                // Inline checkboxes, radios
                else if (element.parents('label').hasClass('checkbox-inline') || element.parents('label').hasClass('radio-inline')) {
                    error.appendTo(element.parent().parent());
                }

                // Input group, styled file input
                else if (element.parent().hasClass('uploader') || element.parents().hasClass('input-group')) {
                    error.appendTo(element.parent().parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            rules: {
                userId: {
                    required: true,
                    email: true
                }
            },
            messages: {
                userId: {
                    required: "${springMacroRequestContext.getMessage('이-필드는-필수-값입니다.')}",
                    email: "${springMacroRequestContext.getMessage('이메일-형식으로-넣어주십시요.')}"
                }
            }
        });
    });

</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-66146860-3', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>