<div class="nav-container">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="${rc.contextPath}/">
                        <img class="logo logo-dark" alt="logo" src="${rc.contextPath}/static/front/img/logo_dark.png" />
                        <img class="logo logo-light" alt="logo" src="${rc.contextPath}/static/front/img/logo_dark.png" />
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm ">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-2 hidden-xs">
                    <div class="bar__module">
                        <a href="${rc.contextPath}/">
                            <img class="logo logo-dark" alt="logo" src="${rc.contextPath}/static/front/img/logo_dark.png" />
                            <img class="logo logo-light" alt="logo" src="${rc.contextPath}/static/front/img/logo_dark.png" />
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-md-10 col-sm-12 text-right text-left-xs text-left-sm">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            <li class="dropdown">
                                <span class="dropdown__trigger">서비스특징</span>
                                <!--end dropdown container-->
                            </li>
                            <li class="dropdown">
                                <span class="dropdown__trigger">가격정책</span>
                                <!--end dropdown container-->
                            </li>
                            <li class="dropdown">
                                <span class="dropdown__trigger">기술지원</span>
                                <!--end dropdown container-->
                            </li>
                            <li class="dropdown">
                                <span class="dropdown__trigger">회사소개</span>
                                <!--end dropdown container-->
                            </li>
                        </ul>
                    </div>
                    <!--end module-->
                    <div class="bar__module">
                        <a class="btn btn--sm btn--primary type--uppercase" href="${rc.contextPath}/console">
                                    <span class="btn__text">
                                        검색엔진 관리자 콘솔
                                    </span>
                        </a>
                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>
